.activeChar {
	background-color: #C9F6F2;
	transition: 0.3s;
}

.charContainer {
    display: inline-block;
    width: 40%;
    vertical-align:top;
}

.characterList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.characterList .characterChip {
    margin: 5px 0px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: black;
    border-radius: 5px;
}

.characterChip.acted {
    color: grey;
}

.characterChip.selected {
    background-color: cadetblue;
}

.chipDataTable {
    display: inline-table;
}

.chipDataRow {
    display: table-row;
}

.chipDataCell {
    display: table-cell;
    padding: 2px;
}

.chipData {
    height: 30px;
    width: 50px;
	background-color: #ffffff;
	text-align: center;
}

.closebtn {
    position: inline;
    padding: 0px 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    min-width: 80px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.tooltip_alt {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.tooltip_alt:hover .tooltip-content {
    display: block;
}

.healthbox {
    display: inline-block;
    background-color: #fff;
    height: 10px;
    width: 10px;
    margin: 1%;
    display: inline-flex;
}

.healthbox:not(.marked):hover {
    background-color: grey;
}

.healthbox.marked {
    background-color: #a50f0f;
}

.initModData {
    height: 30px;
	background-color: #ffffff;
}

.longText {
    width: 130px;
}

.smallInput {
    width: 50px;
}

.rmbtn {
    margin: 0px, 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.rmbtn:hover {
    color: whitesmoke;
}