.column {
    float: left;
    margin: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.characterSheet {
    display: inline-block;
    width: 60%;
    height: 100%;
    background-color: #555;
    border-radius: 10px;
    vertical-align:top;
    color:#fff;
}

.characterSheet .sheetSection {
    display: inline-block;
    width: 50%;
    margin: 2%;
}

.characterSheet .sheetSection .sheetData {
    display: block;
    width: 100%;
}

.defaultChar {
	background-color: 'white';
	transition: 0.3s;
}

.activeChar {
	background-color: #C9F6F2;
	transition: 0.3s;
}

.actedChar {
	background-color: #C3B88C;
}

.charContainer {
    display: inline-block;
    width: 30%;
    vertical-align:top;
}

.characterList .characterChip {
    display: inline-block;
    margin: 5px 0px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.characterChip.acted {
    background-color: red;
}

.characterChip.selected {
    background-color: cadetblue;
}

.characterList {
    list-style-type: none;
    padding: inherit;
    margin: 0px;
}

li .chipData {
    position: relative;
    float: left;
    margin: 10px 5px 10px 5px;
    height: 30px;
    width: 50px;
	background-color: #ffffff;
	text-align: center;
}

li .chipData:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: attr(data-char-property); /* Change this to reference data-char-property */
    font-size: 10px;
}

.closebtn {
    position: relative;
    padding: 0px 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* Tooltip container */
.healthTooltip {
    position: relative;
    display: inline-block;
    margin: 10px 5px 10px 5px;
    height: 30px;
    width: 30px;
}

/* Tooltip text */
.healthTooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 0px 2px;
    border-radius: 2px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 100%;
    margin-left: 5px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.healthTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.healthTooltip .tooltiptext .healthbox {
    background-color: #fff;
    height: 10px;
    width: 25%;
    margin: 1%;
    display: inline-flex;
}

.healthTooltip .tooltiptext .healthbox:not(.marked):hover {
    background-color: grey;
}

.healthTooltip .tooltiptext .healthbox.marked {
    background-color: #a50f0f;
}

.sheetDataItemName {
    display: inline-block;
    height: 100%;
    margin: 5px;
}

.sheetDataInput, .sheetDataOutput {
    float: right;
    height: 100%;
    width: 30px;
    margin: 2px;
}

.columnHalf {
    display: block;
    width: 50%;
}
