.activeChar {
	background-color: #C9F6F2;
	transition: 0.3s;
}

.charContainer {
    float: left;
    width: 40%;
    vertical-align:top;
}

.characterList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.characterList .characterChip {
    display: block;
    margin: 5px 0px;
    width: 100%;
    font-size: 16px;
    background-color: #f5f5f5;
    color: black;
    border-radius: 5px;
}

.characterChip.acted {
    color: grey;
}

.characterChip.selected {
    background-color: cadetblue;
}

.chipDataTable {
    display: inline-table;
}

.chipDataRow {
    display: table-row;
}

.chipDataCell {
    display: table-cell;
    padding: 2px;
}

.chipData {
    height: 30px;
    width: 50px;
	background-color: #ffffff;
	text-align: center;
}

.closebtn {
    position: inline;
    padding: 0px 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    min-width: 80px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.tooltip_alt {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.tooltip_alt:hover .tooltip-content {
    display: block;
}

.initModData {
    height: 30px;
	background-color: #ffffff;
}

.longText {
    width: 130px;
}

.smallInput {
    width: 50px;
}

.rmbtn-holder {
    width: 20px;
}

.rmbtn-holder .rmbtn {
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.rmbtn-holder:hover .rmbtn {
    color: whitesmoke;
}

.addbtn-holder {
    width: 20px;
}

.addbtn-holder .addbtn {
    color: mediumspringgreen;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.addbtn-holder:hover .rmbtn {
    color: whitesmoke;
}

ul.initiativeTracker {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li .tokenData {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    width: 50px;
    height: 30px;
    background-color: #333;
}

.tokenData span {
    display: block;
}

.healthTrackGroup {
    float: left;
    background-color: #555;
    padding: 5px;
    margin: 0px 2px;
}

.healthTrackGroup .healthTrackTitle {
    display: block;
    width: 36px;
    font-size: 10px;
    color: white;
    padding: 0px 0px 3px 0px;
    text-align: center;
}

.healthTrackGroup .healthTrack {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    width: 36px;
}

.healthTrack .healthbox {
    display: inline-block;
    background-color: #fff;
    height: 10px;
    width: 10px;
    margin: 1px;
}

.healthTrack .healthbox:not(.marked):hover {
    background-color: grey;
}

.healthTrack .healthbox.marked {
    background-color: #a50f0f;
}

/* Character sheet formatting */
.charSheetContainer {
    float: left;
    width: 55%;
    margin: 5px;
}

.charSheetContainer .charSheet {
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    width: 100%;
    min-height: 300px;
    padding: 5px;
    background-color: #555;
    color: white;
    font-size: 10px;
}

.charSheet .dataBlock {
    display: inline-block;
    margin: 5px;
    border: 1px solid;
    padding: 5px;
}

.charSheet .dataBlock .column {
    display: flex;
    flex-flow: row wrap;
    float: left;
    width: 110px;
    padding: 0px 5px 0px 0px;
}

.charSheet .dataBlock .column-dbl {
    display: flex;
    flex-flow: row wrap;
    float: left;
    width: 230px;
    padding: 0px;
}

.charSheet .dataBlock .attrLabel {
    display: inline-block;
    width: 80px;
    height: 15px;
    margin: 0px 0px 3px 0px;
    padding: 1px 0px;
}

.charSheet .dataBlock .dataSM {
    display: inline-block;
    width: 25px;
    height: 15px;
    margin: 0px 0px 3px 0px;
    font-size: 10px;
    padding: 1px 0px;
    border: 0px;
}

.charSheet .dataBlock .section {
    margin: 0px 0px 1px 0px;
    width: 100%;
}

.charSheet .dataBlock .group {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 100%;
    margin: 2px 0px;
}

.charSheet .dataBlock .group .label {
    flex-grow: 1;
    min-width: 100px;
    margin: 0px 5px 0px 0px;
    padding: 1px 0px;
}

.charSheet .dataBlock .group .dataFillWrapper {
    flex-grow: 1;
    font-size: 10px;
    margin: 0px 2px 0px 0px;
}

.dataFillWrapper .dataFill {
    width: 100%;
    font-size: 10px;
    padding: 1px 0px;
    border: 0px;
}
