<!DOCTYPE html>
<html>

<head>
    <title>Shadowrun Tracker</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div id="myTableActions">
        <input type="button" value="next" ng-click="nextInit()">
        <input type="button" value="add" ng-click="addChar()">
        <input type="number" id="addNum" ng-model="numCharsAdd"></input>
        <div class="dropdown">
        <button class="dropbtn">{{charTypeInsertable.type}}</button>
            <div class="dropdown-content">
                <a 
                    ng-repeat="charType in charTypes"
                    href="#"
                    ng-click="setCharTypeInsertable(charType)">{{charType.type}}
                </a>
            </div>
        </div>
    </div>

    <div>
        <ul class="initiativeTracker">
            <li
                class="initiativeToken"  
                ng-repeat="char in charArr |  orderBy:['-initCur()','-edge','-reaction','-intuition','-randomCoin']"
                ng-hide="char.activity=='acted' || char.initCur()<=0"
            >
                <span class="tokenData">
                    <span>{{char.name}}</span>
                    <span>({{char.initCur()}})</span>
                </span>
            </li>
        </ul>
    </div>
    <div class="charMainContainer">
        <div class="charContainer" id="charContainer">
            <ul class="characterList" id="characterList">
                <li
                    class="characterChip"
                    ng-repeat="char in charArr |  orderBy: 'name'"
                    ng-click="getSelectedChar(char)"
                >
                    <span class="chipDataTable">
                        <header class="chipDataRow">
                            <span class="chipDataCell">name</span>
                            <span class="chipDataCell">Health</span>
                        </header>
                        <span class="chipDataRow">
                            <span class="chipDataCell">
                                <input ng-model="char.name" class="chipData"></input>
                            </span> 
                            <span class="chipDataCell">
                                <span class="healthTrackGroup">
                                    <span class="healthTrackTitle">Physical</span>
                                    <span class="healthTrack">
                                        <span
                                            ng-repeat="h in getNumber(char.healthPMax) track by $index"
                                            class="healthbox"
                                            ng-click="healthBoxClick(char,'P',$index+1)"
                                            ng-class="{'marked': char.damageP >= $index+1}"></span>
                                    </span>
                                </span>
                                <span class="healthTrackGroup">
                                    <span class="healthTrackTitle">Stun</span>
                                    <span class="healthTrack">
                                        <span
                                            ng-repeat="h in getNumber(char.healthSMax) track by $index"
                                            class="healthbox"
                                            ng-click="healthBoxClick(char,'S',$index+1)"
                                            ng-class="{'marked': char.damageS >= $index+1}"></span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                    <span class="closebtn" ng-click="deleteChip(char)"> &#215 </span>                
                </li>
            </ul>
        </div>
        <div class="charSheetContainer">
            <span class="charSheet">
                <span class="dataBlock">
                    <span class="column-dbl">
                        <span class="section">
                            <span class="group">
                                <span class="label">Name</span><span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].name"></input></span>
                            </span>
                        </span>
                    </span>
                </span>
                <span class="dataBlock">
                    <span class="column-dbl">
                        <span class="section">
                            <span class="group">
                                <span class="label">Armor</span><span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedArmour.name"></input></span>
                            </span>
                        </span>
                        <span class="section">
                            <span class="group">
                                <span class="label">Ranged Weapon</span><span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.name"></input></span>
                            </span>
                            <span class="group">
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.damage"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.acc"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.AP"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.mode"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.RC"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedRangedWeapon.ammo"></input></span>
                            </span>
                        </span>
                        <span class="section">
                            <span class="group">
                                <span class="label">Melee Weapon</span><span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedMeleeWeapon.name"></input></span>
                            </span>
                            <span class="group">
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedMeleeWeapon.reach"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedMeleeWeapon.damage"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedMeleeWeapon.acc"></input></span>
                                <span class="dataFillWrapper"><input class="dataFill" ng-model="charArr[selectedCharIndex].equippedMeleeWeapon.AP"></input></span>
                            </span>
                        </span>
                    </span>
                </span>
                <span class="dataBlock">
                    <span class="column">
                        <span class="attrLabel">Body</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].body"></input>
                        <span class="attrLabel">Agility</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].agility"></input>
                        <span class="attrLabel">Reaction</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].reaction"></input>
                        <span class="attrLabel">Strength</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].strength"></input>
                        <span class="attrLabel">Willpower</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].willpower"></input>
                        <span class="attrLabel">Logic</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].logic"></input>
                        <span class="attrLabel">Intuition</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].intuition"></input>
                        <span class="attrLabel">Charisma</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].charisma"></input>
                        <span class="attrLabel">Edge</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].edge"></input>
                    </span>
                    <span class="column">
                        <span class="attrLabel">Essence</span><input class="dataSM" type="number" ng-model="charArr[selectedCharIndex].essence"></input>
                        <span class="attrLabel">Magic/Resonance</span><input class="dataSM" type="number"></input>
                        <span class="attrLabel">Initiative</span><span class="dataSM">NA</span>
                        <span class="attrLabel">Matrix Initative</span><span class="dataSM">NA</span>
                        <span class="attrLabel">Astral Initiative</span><span class="dataSM">NA</span>
                        <span class="attrLabel">Composure</span><span class="dataSM">NA</span>
                        <span class="attrLabel">Judge Intentions</span><span class="dataSM">NA</span>
                        <span class="attrLabel">Memory</span><span class="dataSM">NA</span>
                        <span class="attrLabel">Lift/Carry</span><span class="dataSM">NA</span>
                    </span>
                </span>
                <span class="dataBlock">
                    <span class="healthTracks">
                        <span class="healthTrackGroup">
                            <span class="healthTrackTitle">Physical</span>
                            <span class="healthTrack">
                                <span
                                    ng-repeat="h in getNumber(charArr[selectedCharIndex].healthPMax) track by $index"
                                    class="healthbox"
                                    ng-click="healthBoxClick(charArr[selectedCharIndex],'P',$index+1)"
                                    ng-class="{'marked': charArr[selectedCharIndex].damageP >= $index+1}"></span>
                            </span>
                        </span>
                        <span class="healthTrackGroup">
                            <span class="healthTrackTitle">Stun</span>
                            <span class="healthTrack">
                                <span
                                    ng-repeat="h in getNumber(charArr[selectedCharIndex].healthSMax) track by $index"
                                    class="healthbox"
                                    ng-click="healthBoxClick(charArr[selectedCharIndex],'S',$index+1)"
                                    ng-class="{'marked': charArr[selectedCharIndex].damageS >= $index+1}"></span>
                                </span>
                            </span>
                        </span>
                    </span>
                <span class="dataBlock">
                    <span class="column-dbl">
                        <span class="section">
                            <span class="group">
                                <span class="itemGroup">
                                    <span class="title">Base Roll</span>
                                    <span class="valBox">
                                        <span class="initVal" ng-hide="charArr[selectedCharIndex].initManual">{{charArr[selectedCharIndex].initBreakdown()}}</span>
                                        <input type="number" class="initInputVal" ng-show="charArr[selectedCharIndex].initManual" ng-model="charArr[selectedCharIndex].initBaseManual"></input>
                                    </span>
                                </span>
                                <span class="operator">+</span>
                                <span class="itemGroup">
                                    <span class="title">Modifier</span>
                                    <span class="valBox"><span class="initVal">{{charArr[selectedCharIndex].initMod()}}</span></span>
                                </span>
                                <span class="operator">+</span>
                                <span class="itemGroup">
                                    <span class="title">Pass Adj</span>
                                    <span class="valBox"><span class="initVal">{{charArr[selectedCharIndex].initPassAdj}}</span></span>
                                </span>
                                <span class="operator">=</span>
                                <span class="itemGroup">
                                    <span class="title">Initiative</span>
                                    <span class="valBox"><span class="initVal">{{charArr[selectedCharIndex].initCur()}}</span></span>
                                </span>
                            </span>
                            <span class="group">
                                <div class="dropdown">
                                    <button class="dropbtn">{{charArr[selectedCharIndex].initSpace}}</button>
                                    <div class="dropdown-content">
                                        <a 
                                            ng-repeat="initSpaceOption in charArr[selectedCharIndex].initSpaceOptions"
                                            href="#"
                                            ng-click="setInitSpace(charArr[selectedCharIndex],initSpaceOption)">{{initSpaceOption.name}}
                                        </a>
                                    </div>
                                </div>
                                <span class="initCheckboxGroup">
                                    <input type="checkbox" class="checkbox" ng-model="charArr[selectedCharIndex].initManual"></input>
                                    <span class="label">Manual Roll?</span>
                                </span>
                            </span>
                        </span>
                        <span class="section">
                            <span class="group">
                                <span class="rmbtn-holder"></span>
                                <span class="initCondLabel">Description</span>
                                <span class="initCondValue">Modifier</span>
                            </span>
                            <span class="group">
                                <span class="addbtn-holder">
                                    <span class="addbtn" ng-click="addCustomMod(charArr[selectedCharIndex])"> + </span>
                                </span>
                                <input class="initCondLabel" ng-model="charArr[selectedCharIndex].initModCustomNew.descr"></input>
                                <input class="initCondValue" type="number" ng-model="charArr[selectedCharIndex].initModCustomNew.modifier"></input>
                            </span>

                            <span class="group">
                                <span class="rmbtn-holder"></span>
                                <span class="initCondLabel">Description</span>
                                <span class="initCondValue">Modifier</span>
                            </span>
                            <span 
                                ng-repeat="initModCustom in charArr[selectedCharIndex].initModsCustom"
                                class="group"
                            >
                                <span class="rmbtn-holder">
                                    <span class="rmbtn" ng-click="removeCustomMod(charArr[selectedCharIndex],initModCustom)"> &#215 </span>
                                </span>
                                <input class="initCondLabel" ng-model="initModCustom.descr"></input>
                                <input class="initCondValue" type="number" ng-model="initModCustom.modifier"></input>
                            </span>
                            <span
                                    ng-repeat="initModAuto in charArr[selectedCharIndex].initModsAuto"
                                    class="group"
                                >
                                <span class="rmbtn-holder"></span>
                                <span class="initCondLabel">{{initModAuto.descr}}</span>
                                <span class="initCondValue">{{initModAuto.modifier}}</span>
                            </span>
                        </span>
                    </span>
                </span>
                <span class="dataBlock">
                    <span class="column-dbl">
                        <span class="section">
                            <span class="group">
                                <span class="label heading">Name</span>
                                <span class="itemListData heading">Rtg</span>
                                <span class="itemListData heading">Qty</span>
                                <span class="itemListData heading">Page</span>
                            </span>
                            <span 
                                class="group"
                                ng-repeat="item in charArr[selectedCharIndex].gearList"
                            >
                                <span class="label" ng-click="gearClick(charArr[selectedCharIndex], item.name)">{{item.name}}</span>
                                <input class="itemListData" type="number" ng-model="item.rating"></input>
                                <input class="itemListData" type="number" ng-model="item.quantity" ng-blur="removeGearItem(charArr[selectedCharIndex], item)"></input>
                                <input class="itemListData" type="number" ng-model="item.pageRef"></input>
                            </span>
                        </span>
                    </span>
                </span>
                </span>
            </span>
        </div>
    </div>
    <div class="itemListContainer">
        <span class="itemListHeader"><span class="title">Gear List</span></span>
        <span class="itemListBody">
            <span class="navItemListContainer">
                <ul class="navItemList">
                    <li><span><input type="text" ng-model="itemSearch.$" placeholder="Search.."></input></span></li>
                    <li 
                        ng-repeat="itemTypeObj in itemTypes"
                        >
                        <a ng-click="itemTypeClick(itemTypeObj)" ng-class="{'active': itemTypeObj === itemTypeSelected}">{{itemTypeObj.type}}</a>
                    </li>
                </ul>
            </span>
            <span class="gearListContainer">
                <ul class="itemList">
                    <li ng-repeat="item in items | orderBy:['type','subtype','name'] | filter:itemTypeSelected.type | filter:itemSearch">
                        <span class="itemGroup">
                            <span class="label">{{item.name}}</span>
                            <span class="addbtn-holder" ng-click="addItemToActiveCharGear(item)">Add</span>
                        </span>
                    </li>
                </ul>
            </span>
        </span>
    </div>
</div>
</body>
</html>
