<!DOCTYPE html>
<html>

<head>
    <title>HTML dynamic table using Angular</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div id="myTableActions">
        <input type="button" value="next" ng-click="nextInit()">
        <input type="button" value="add" ng-click="addChar()">
    </div>

    <div>
        <ul class="initiativeTracker">
            <li
                class="initiativeToken"  
                ng-repeat="char in charArr |  orderBy:['-initCur()','-edge','-reaction','-intuition','-randomCoin']"
                ng-hide="char.activity=='acted' || char.initCur()<=0"
            >
                <span class="tokenData">
                    <span>{{char.name}}</span>
                    <span>({{char.initCur()}})</span>
                </span>
            </li>
        </ul>
    </div>

    <div class="charContainer" id="charContainer">
        <ul class="characterList" id="characterList">
            <li
                class="characterChip"
                ng-repeat="char in charArr |  orderBy: 'name'"
                ng-click="getSelectedChar(char)"
            >
                <span class="chipDataTable">
                    <header class="chipDataRow">
                        <span class="chipDataCell">name</span>
                        <span class="chipDataCell">init</span>
                        <span class="chipDataCell">Health Mod</span>
                    </header>
                    <span class="chipDataRow">
                        <span class="chipDataCell">
                            <input ng-model="char.name" class="chipData"></input>
                        </span> 
                        <span class="chipDataCell">
                            <span class="tooltip_alt">
                                <span class="chipData">{{char.initCur()}}</span>
                                <span class="tooltip-content">
                                    <span>
                                        <span class="chipDataTable">
                                            <span class="chipDataRow">
                                                <span class="chipDataCell">
                                                    <span class="chipData" ng-hide="char.initManual">{{char.initBreakdown()}}</span>
                                                    <input class="chipData" type="number" ng-show="char.initManual" ng-model="char.initBaseManual"></input>
                                                </span>                                     
                                                <span class="chipDataCell" style="vertical-align: middle;"> + </span>
                                                <span class="chipDataCell">
                                                    <span class="chipData">{{char.initMod()}}</span>
                                                </span>
                                                <span class="chipDataCell" style="vertical-align: middle;"> + </span>
                                                <span class="chipDataCell">
                                                    <span class="chipData">{{char.initPassAdj}}</span>
                                                </span>
                                                <span class="chipDataCell" style="vertical-align: middle;"> = </span>
                                                <span class="chipDataCell">
                                                    <span class="chipData">{{char.initCur()}}</span>
                                                </span>
                                                <span class="chipDataCell">
                                                    <button ng-click="char.initTypeToggle()">{{char.initType()}}</button>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span>
                                                        <span class="chipDataTable">
                                                            <span class="chipDataRow">
                                                                <span class="chipDataCell"></span>
                                                                <span class="chipDataCell">Description</span>
                                                                <span class="chipDataCell">Modifier</span>
                                                            </span>
                                                            <span class="chipDataRow">
                                                                <span class="addbtn-holder">
                                                                    <span class="addbtn" ng-click="char.addCustomMod()"> + </span>
                                                                </span>
                                                                <span class="chipDataCell">
                                                                    <input class="initModData longText" ng-model="char.initModCustomNew.descr"></input>
                                                                </span>
                                                                <span class="chipDataCell">
                                                                    <input class="initModData smallInput" type="number" ng-model="char.initModCustomNew.modifier"></input>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="chipDataTable">
                                                            <span class="chipDataRow">
                                                                <span class="chipDataCell"></span>
                                                                <span class="chipDataCell">Description</span>
                                                                <span class="chipDataCell">Modifier</span>
                                                            </span>
                                                            <span
                                                                ng-repeat="initModCustom in char.initModsCustom"
                                                                class="chipDataRow"
                                                            >
                                                                <span class="rmbtn-holder">
                                                                    <span class="rmbtn" ng-click="char.removeCustomMod(initModCustom)"> &#215 </span>
                                                                </span>
                                                                <span class="chipDataCell">
                                                                    <input class="initModData longText" ng-model="initModCustom.descr"></input>
                                                                </span>
                                                                <span class="chipDataCell">
                                                                    <input class="initModData smallInput" type="number" ng-model="initModCustom.modifier"></input>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="chipDataTable">
                                                            <span class="chipDataRow">
                                                                <span class="chipDataCell"></span>
                                                                <span class="chipDataCell">Description</span>
                                                                <span class="chipDataCell">Modifier</span>
                                                            </span>
                                                            <span
                                                                ng-repeat="initModAuto in char.initModsAuto"
                                                                class="chipDataRow"
                                                            >
                                                                <span class="rmbtn-holder"></span>
                                                                <span class="chipDataCell">
                                                                    <span class="initModData longText">{{initModAuto.descr}}</span>
                                                                </span>
                                                                <span class="chipDataCell">
                                                                    <span class="initModData smallInput">{{initModAuto.modifier}}</span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                </span>
                            </span>
                        </span>
                        <span class="chipDataCell">
                            <span class="healthTrackGroup">
                                <span class="healthTrackTitle">Physical</span>
                                <span class="healthTrack">
                                    <span
                                        ng-repeat="h in getNumber(char.healthPMax) track by $index"
                                        class="healthbox"
                                        ng-click="healthBoxClick(char,'P',$index+1)"
                                        ng-class="{'marked': char.damageP >= $index+1}"></span>
                                </span>
                            </span>
                            <span class="healthTrackGroup">
                                <span class="healthTrackTitle">Stun</span>
                                <span class="healthTrack">
                                    <span
                                        ng-repeat="h in getNumber(char.healthSMax) track by $index"
                                        class="healthbox"
                                        ng-click="healthBoxClick(char,'S',$index+1)"
                                        ng-class="{'marked': char.damageS >= $index+1}"></span>
                                </span>
                            </span>
                        </span>
                        <span class="chipDataCell">
                            <div class="dropdown">
                                <button class="dropbtn">{{char.initSpace}}</button>
                                <div class="dropdown-content">
                                    <a 
                                        ng-repeat="initSpaceOption in char.initSpaceOptions"
                                        href="#"
                                        ng-click="setInitSpace(char,initSpaceOption)">{{initSpaceOption.name}}
                                    </a>
                                </div>
                            </div>
                        </span>
                    </span>
                </span>
                <span class="closebtn" ng-click="deleteChip(char)"> &#215 </span>                
            </li>
        </ul>
    </div>
    <div class="charSheetContainer">
        <span class="charSheet">
            <span class="dataBlock">
                <span>Name</span><input ng-model="charArr[selectedCharIndex].name"></input>
            </span>
            <span class="dataBlock">b</span>
            <span class="dataBlock">
                <span class="column">
                    <span class="attrLabel">Body</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].body"></input>
                    <span class="attrLabel">Agility</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].agility"></input>
                    <span class="attrLabel">Reaction</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].reaction"></input>
                    <span class="attrLabel">Strength</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].strength"></input>
                    <span class="attrLabel">Willpower</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].willpower"></input>
                    <span class="attrLabel">Logic</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].logic"></input>
                    <span class="attrLabel">Intuition</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].intuition"></input>
                    <span class="attrLabel">Charisma</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].charisma"></input>
                    <span class="attrLabel">Edge</span><input class="dataInputSM" type="number" ng-model="charArr[selectedCharIndex].edge"></input>
                </span>
                <span class="column">second column</span>
            </span>
        </span>
    </div>
</div>
</body>
</html>
